fastapi
uvicorn
psycopg2
py-eureka-client
langchain
langchain-community
langchain-groq
python-dotenv
langchain-huggingface
transformers
huggingface-hub
numpy
typing
pydantic
pypdf
ipykernel
langchain-core
pandas
python-dotenv
pgvector
langchain-google-genai
PyPDF2
bytesbufio